.brands {
  font-family: inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.7px;
}

#text-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* برای مرورگر اینترنت اکسپلورر و اج */
  scrollbar-width: none; /* برای فایرفاکس */
}
.draggable {
  cursor: grab;
}
.draggable:active {
  cursor: grabbing; }